@model CMajor.Models.Song

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Song</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">MyanmarTitle</div>
    <div class="display-field">@Model.MyanmarTitle</div>

    <div class="display-label">Lyric</div>
    <div class="display-field">@Model.Lyric</div>

    <div class="display-label">Albums</div>
    <div class="display-field">@(Model.Albums == null ? "None" : Model.Albums.Count.ToString())</div>

    <div class="display-label">Artists</div>
    <div class="display-field">@(Model.Artists == null ? "None" : Model.Artists.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


